/* Reset */
:root {
  --bg: #1e1e2f;
  --card: #2a2a40;
  --text: #ffffff;
}

.light {
  --bg: #f5f5f5;
  --card: #ffffff;
  --text: #222222;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main container */
.meme {
  background: var(--card);
  padding: 20px;
  border-radius: 16px;
}

/* Title */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  opacity: 0.9;
 text-align: center;
}

/* Image container */
.meme img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  cursor: pointer;
}

/* Hover effect */
.meme img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

/* Subtle instruction text */
p {
  margin-top: 12px;
  font-size: 14px;
  opacity: 0.7;
}
.hint{
    text-align: center;

}
.download{
 margin-top: 15px;
 margin-left: 30px;
  padding: 15px 18px;
  border: none;
  border-radius: 8px;
  background: #639a60;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.download:hover {
  background: #ff4757;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 107, 107, 0.4);
}
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
.site-header {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  text-align: left;
}

/* Main name */
.site-header h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  
}

/* Subtitle */
.site-header p {
  font-size: 15px;
  opacity: 0.7;
  
}